<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Timeline</title>
</head>
<body>
    <h1>Time Line</h1>
    <form action="/" method="post"> 
        <textarea name="post" id="" cols="100" rows="10" ></textarea>
        <br>
        <button>Add New Post</button>
       

       
    </form>

    
    <% if( isAdmin) {%>
        <%maseg.forEach(maseg => {%>
           
            <h3><%= maseg.created_at %></h3>
            <p><%= maseg.post %></p>
        <%})%>
        
    <% } %>
</body>
</html>